@model ConsumptionViewModel
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h2 class="m-b-0 text-themecolor">Add Meal Consumption</h2>
                </div>
                <div class="card-body">
                    <form autocomplete="off" class="form-horizontal  p-t-20" asp-controller="MealManagement" asp-action="AddMeal" method="Post">
                        <div class="form-group row">
                            <label for="name" class="control-label col-sm-2 text-right"></label>
                            <div class="col-sm-4">
                                <p class="form-control-static"> Meal Add for @Model.CostCenterName </p>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <input id="name" asp-for="CostCenterId" type="hidden" class="form-control"/>
                        </div>
                        @foreach (var item in @Model.ProductLists)
                        {
                            <div class="form-group row">
                                <label for="name" class="control-label col-sm-2 text-right">@item.Name (@item.BaseUnit)</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input name="key" type="hidden" class="form-control" value="@item.Name">
                                        <input name="value" type="number" class="form-control" value="0.000" min="0.000" step="0.001">
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group row">
                            <label for="name" class="control-label col-sm-2 text-right"></label>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-info waves-effect waves-light"> <i class="fa fa-check "></i> Save</button>
                                <a asp-controller="MealManagement" asp-action="SelectCostCenter" class="btn btn-info waves-effect waves-light">Cancel</a>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}